name: "Deploy"
on:
  workflow_call:
    inputs:
      environment:
        type: string
      image_name:
        type: string
        description: "Docker image name part. Fills in ghcr.io/IMAGE_NAME. Typically this is the `repo_name`, but in some projects it might be `repo_name/sub_name`"
      k8s-release-name:
        required: false
        type: string
      k8s-namespace:
        required: false
        type: string
      solr:
        description: "Add if your solr image is from the registry"
        required: false
        type: boolean
      tag:
        description: "Tag to override default of current branch sha"
        required: false
        type: string
env:
  REGISTRY: ghcr.io

jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: dtzar/helm-kubectl:3.19.1
      options: --user root
    environment: ${{ inputs.environment }}
    env:
      KUBECONFIG_FILE: ${{ secrets.KUBECONFIG_FILE }}
      KUBECONFIG_FILE_NEW: ${{ secrets.KUBECONFIG_FILE_NEW }}
      KUBECONFIG: ${{ github.workspace }}/kubeconfig.yml
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
      NEW_STACK: ${{ vars.NEW_STACK }}
    steps:
      - id: setup
        name: Setup
        uses: glass-canvas/actions/setup-env@main
        with:
          tag: ${{ inputs.tag }}
          image_name: ${{ inputs.image_name }}
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install 1password
        run: |
          echo https://downloads.1password.com/linux/alpinelinux/stable/ >> /etc/apk/repositories &&
          wget https://downloads.1password.com/linux/keys/alpinelinux/support@1password.com-61ddfc31.rsa.pub -P /etc/apk/keys &&
          apk update &&
          apk add 1password-cli
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
        with:
          limit-access-to-actor: true
      - name: Do deploy
        run: |
          echo $KUBECONFIG_FILE | base64 -d > $KUBECONFIG;
          git config --global --add safe.directory $PWD
          ./chart/bin/deploy ${{ inputs.environment }} $TAG
